@import url('https://fonts.googleapis.com/css?family=Pirata+One|Bilbo+Swash+Caps&display=swap');

:root {
  --prog1: #96A2AB;
  --prog2: #B7C2C0;
  --prog3: #F2F1EF;

  --bg1: #516268;
  --bg2: #F2F1EF;
  --banner: #80875B;

  --fontSize: calc((1vw + 1vh));
}

body {
  margin: 0;
  min-width: 250px;
  background-color: var(--bg1);
  color: var(--bg2);

  background-size: cover;
}

h2 {
  font: var(--fontSize)/250% 'Bilbo Swash Caps';
  font-size: 250%;
  color: inherit;
}

h3 {
  font: var(--fontSize)/200% 'Bilbo Swash Caps';
  font-size: 200%;
  color: inherit;
}

pre {
    font: var(--fontSize)/170% 'Bilbo Swash Caps';
    font-size: 170%;
    color: inherit;
    padding-bottom: 0px;
    padding-top: 0px;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 1;
  padding: 0;
  color: black;

  background: inherit;

  text-align: center;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 0px;

  border-radius: 15px;
  list-style-type: none;

  outline-color: var(--bg1);
  outline-width: 3px;
  outline-style: solid;

  font-size: 18px;

  user-select: none;
}

.dateUL {
  cursor: pointer;
  position: relative;
  padding: 5px 2px 5px 4px;
  
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 3px;
  
  float: left;
  width: 15%;

  border-radius: 15px;
  list-style-type: none;
  background: #83B8BF;
}

ul li:hover {
  background: #8DB0B5;
}

ul li.checked {
  background: #83B8BF;
  color: var(--bg2);
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: var(--bg2);
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

.header {
  background-color: var(--banner);
  padding: 30px 40px;
  color: var(--bg2);
  text-align: center;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  margin: 0;
}

.in {
  border-width: none;
  border-style: hidden;
  margin-right: 5px;
  border-radius: 5px;
  width: auto;
  align-content: center;
  text-align: center;

  padding: 10px;
  float: center;
  font-size: 16px;

  color: var(--bg1);
  background-color: var(--bg2);
}

.addBtn {
  background: var(--bg2);
  color: var(--bg1);
  padding: 10px;
  
  position: relative;
  float: center;

  justify-content: center;
  align-items: center;
  font-size: 16px;
  
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}

/* .addBtn {
  padding: 10px;
  width: 75px;
  background: var(--bg2);
  color: var(--bg1);
  height: 41.5px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;

  border-radius: 5px;
} */

.addBtn:hover {
  background-color: var(--bg1);
  color: var(--bg2);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: var(--bg2);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  padding-top: 0px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  color: var(--bg1);
}

.close2 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover, .close2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.collapsible {
  background-color: var(--bg2);
  color: var(--bg1);
  border-radius: 20px 20px 0px 0px;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: var(--bg2);
}

.content {
  padding: 0 18px;
  text-align: left;

  display: none;
  overflow: hidden;

  background-color: var(--bg2);
  color: var(--bg1);
}

button {
  outline-style: none;
  padding: 5px 15px 5px 15px;
  font-weight: bold;
  color: var(--bg1);
}

body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

input {
  width: 300px;
  padding: 7px;
}

.ui-state-highlight {
  border: 0 !important;
}

.ui-state-highlight a {
  background: var(--bg1) !important;
  border: var(--bg1);
  color: #fff !important;
}

/* --- Slider Stuff --- */
input[type="range"] 
{
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--banner);
  cursor: pointer;
}

table.fixed {
  table-layout: fixed;
  width: 100%;
}

table.fixed td {
  overflow: hidden;
}

table.fixed td:nth-of-type(1) {
  width: 33.33%;
}

table.fixed td:nth-of-type(2) {
  width: 33.33%;
}

table.fixed td:nth-of-type(3) {
  width: 33.33%;
}